.list {
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow: scroll;
    margin-inline: auto;
    background-color: white;
    padding-bottom: .5rem;
}

.list a:first-child {
    padding-left: 1rem;
    margin-left: auto;
}

.list a:last-child {
    padding-right: 1rem;
    margin-right: auto;
}

.list::-webkit-scrollbar {
    display: none;
}

.selected {
    font-weight: bold;
}

@media (min-width: 40em) {
    .list {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}