.feed_post {
    padding: 0.5rem 1.5rem;
    position: relative;
}

.user_details {
    padding: 1rem;
    padding-bottom: .5rem;
    /* border: 2px solid black; */
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    background-color: white;
}

.content {
    padding: 1rem;
    background-color: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}