.user_details {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 2px solid black;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.names {
    display: flex;
    flex-direction: column;
}

.image {
    width: 50px;
    height: 50px;
}