.image_select {
    display: flex;
    padding-block: 0.25rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--primary-purple);
    border: 1px solid var(--primary-purple);
    border-radius: 8px;
    cursor: pointer;
}