.modal {
    width: 90%;
    text-align: center;
    background-color: #FFFFFF;
    padding: 0.75rem;
    border-radius: 10px;
}

.modal h1 {
    margin-bottom: 0.5rem;
    text-align: left;
    font-weight: normal;
    font-style: italic;
}