.sign_in {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    margin: 0 2rem;
    justify-content: center;
}

.title {
    margin-block: 1rem;
}

.button {
    display: flex;
    gap: .75rem;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    width: 100%;
    padding: 1.5rem 3rem;
    background: var(--primary-purple);
    border-radius: 9px;
    border: none;
    font-size: 1rem;
    color: white;
    margin: 1rem auto;
}