.post_input {
    display: flex;
    gap: 1rem;
    align-items: center;
    position: relative;
}

.textarea {
    width: 100%;
    border-radius: 8px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
}


.button {
    background-color: white;
    border: none;
    border-radius: 6px;
    padding: 0.5em 2em;
}