.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
}
.form p {
    font-size: 0.875rem;
}

.form span {
    font-weight: bold;
}

.textarea {
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--primary-purple);
    font-family: inherit;
    padding: 0.5rem;
    font-size: 1rem;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
}


.button {
    background-color: var(--primary-purple);
    border: 1px solid white;
    border-radius: 8px;
    width: 100%;
    padding-block: 1em;
    font-size: 1rem;
    color: white;
}