.search {
    display: flex;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 73em) {
    .search {
        padding-right: 1rem;
    }
}

