.links {
    display: flex;
    gap: 1rem;
    padding-block: 0.5rem;
    color: var(--secondary-purple);
    padding-bottom: 0;
}

.links li:first-child{
    margin-left: auto;
}

.links li:last-child{
    margin-right: auto;
}

.links li:hover {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

@media (max-width: 73em) {
    .links {
        padding-left: 33%
    }
}

@media (max-width: 40em) {
    .links {
        padding-left: 0%;
    }
}
