.links {
    display: flex;
    gap: 1rem;
    padding-block: 0.5rem;
    color: var(--secondary-purple);
    align-self: last baseline;
    padding-bottom: 0;
}

.links li:first-child{
    margin-left: auto;
}

.links li:last-child{
    margin-right: auto;
}

.links li:hover {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

