.container {
    display: flex;
    margin: 1rem;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.add_comment {
    margin: 1rem 0;
}

.main_container {
    max-width: 550px;
    min-width: 200px;
    width: 100%;
}

.add_comment button {
    padding: .5em;
    font-size: 1rem;
    background: none;
    border-radius: .5rem;
    border-color: var(--primary-purple);
    color: var(--primary-purple);
    width: 100%;
}

.add_comment button:hover {
    color: white;
    background-color: var(--primary-purple);
    cursor: pointer;
}

.count span {
    font-weight: bold;
}