@media (min-width: 40em) {
    .users {
        max-height: 39vh !important;
        overflow: scroll;
    }
    .search {
        display: block;
    }
}

@media (max-width: 73em) {
    .search {
        display: none;
    }
}