.modal {
    width: 90vw;
    height: 95%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: slategray;
}

.image_container {
    width: 100%;
}

.image_container img{
    height: 100%;
    width: 100%;
}

.image_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.image_buttons button{
    margin-top: auto;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    border: none;
}