.modal {
    width: 90%;
    height: 65%;
    max-height: 500px;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.modal span {
    font-weight: bold;
}

.image_container {
    height: 75%;
    max-width: 100%;
    width: auto;
    margin-block: auto;
}

.image_container img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    object-fit: contain;
}

.image_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.image_buttons button{
    margin-top: auto;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    border: none;
}