.container {
    --diameter: 30px;
    width: var(--diameter);
    height: var(--diameter);
    position: relative;
    padding: 1rem;
    margin: 0.5rem;
}

.container div {
    width: 10%;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-purple);
    transform-origin: 0% 0%;
}

.container div:first-child {
    rotate: 45deg;
}

.container div:last-child {
    rotate: -45deg;
}

