.plus {
    width: 100%;
    height: 100%;
    position: relative;
}

.vertical {
    width: 10px;
    height: 80%;
}

.horizontal {
    width: 80%;
    height: 10px;
}

.vertical,
.horizontal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 10px;
}