.menu {
    --animationTime: 300ms;
    width: 65%;
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    transition: all var(--animationTime) ease;
    padding: 1.5rem;
    z-index: 2;
}

.open {
    animation: animateIn var(--animationTime) ease forwards;
}

.close {
    animation: animateOut var(--animationTime) ease forwards;
}

.title {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

@media (min-width: 40em) {
    .menu{
        position: unset;
    }
}

@keyframes animateIn {
    0%{
        transform: translatex(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes animateOut {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translatex(-100%);
    }
}