.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 0.5px solid gray;
    z-index: 1;
    position: sticky;
    top: 0px;
    background-color: var(--primary-purple);
}

.search {
    display: flex;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
}

@media (min-width: 40em) {
    .page_content {
        display: grid;
        grid-template-columns: 25% 50% 25%;
    }
}