.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 0.5px solid gray;
    z-index: 1;
    position: sticky;
    top: 0px;
    background-color: var(--primary-purple);
}
.search {
    display: flex;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
}

@media (min-width: 40em) {
    .page_content {
        height: calc(100% - 67px);
        display: grid;
        grid-template-columns: 1fr 50% 1fr;
        justify-content: center;
        max-width: 1335px;
        margin-inline: auto;
    }

    

    .image img{
        display: none;
    }
    

    .children {
        padding: 1rem;
        height: 100%;
        position: relative;
    }
}

/* @media (max-width: 87em) {
    .page_content {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }
} */