.background {
    background-color: var(--primary-purple);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 0.5px solid gray;
    z-index: 1;
    position: sticky;
    top: 0px;
    background-color: var(--primary-purple);
}
.search {
    display: flex;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
}

@media (min-width: 40em) {
    .nav {
        max-width: 1170px;
        margin-inline: auto;
        padding: 0;
        padding-block: 0.5rem;
    }

    .page_content {
        --grid-height: calc(100% - 67px);
        height: var(--grid-height);
        display: grid;
        /*grid-template-columns: 1fr 60% 1fr;*/
        grid-template-columns: minmax(320px, 400px) minmax(450px, 1fr) minmax(320px, 400px);
        grid-template-rows: auto;
        justify-content: center;
        max-width: 1500px;
        margin-inline: auto;
        margin-top: 1rem;
    }

    

    .image img{
        display: none;
    }
    

    .children {
        padding: 1rem;
        padding-top: 0;
        height: 100%;
    }
}

/* @media (max-width: 87em) {
    .page_content {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }
} */