.posts {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    overflow: scroll;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.scroll {
    height: 90vh;
    overflow: scroll;
}

.posts::-webkit-scrollbar {
    display: none;
}

@media (min-width: 40em) {
    .posts {
        margin: 0;
    }
}