.user_details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    background-color: white;
}

.spacer {
    margin-block: 0.75rem;
    padding: 0.5em 1.5em;
}

.edit {
    margin-left: auto;
    background-color: lightblue;
    border: none;
    border-radius: 8px;
}