.user_details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    background-color: white;
}

.edit_button {
    margin-left: auto;
}

.edit_button:hover {
    cursor: pointer;
}