.fieldset {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-inline: auto;
    padding-block: 0.5rem;
}

.fieldset label {
    text-align: left;
}

.fieldset input {
    padding: 0.5em 0.5em;
    border-radius: 9px;
    background-color: white;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}