.form fieldset {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-inline: auto;
    padding-block: 0.5rem;
    text-align: center;
    --input-color: rgba(var(--primary-purple-rgb), 0.2);
}

.form label {
    text-align: left;
}

.form_content {
    padding: 1rem;
}

.description {
    resize: none;
    background-color: var(--input-color);
    border: none;
    border-radius: 9px;
    padding-inline: 8px;
    font-family: inherit;
}

.create_account {
    padding-block: 1.5rem;
    text-align: center;
}

.create_account button{
    padding: 1em 5em;
    border: none;
    border-radius: 9px;
    font-size: 1rem;
}

.valid {
    background-color: rgba(75, 181, 67, 0.5) !important;
}