@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  --primary-purple-rgb: 90, 60, 210;
  --primary-purple: rgb(var(--primary-purple-rgb));
  --secondary-purple: #E9E5FF;
  background-color: var(--secondary-purple);
}

body::-webkit-scrollbar {
  display: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,h2,h3,h4,p,ul {
  margin: 0;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.username {
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}

.handle {
  color: gray;
  font-size: 1rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
/* 
Animation Properties:
position
scale
rotation
opacity */