html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
}

h1,h2,h3,h4,p,ul {
  margin: 0;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.username {
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}

.handle {
  color: gray;
  font-size: 1rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
/* 
Animation Properties:
position
scale
rotation
opacity */