.user-block {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "pfp name-button"
                         "- description";
    grid-column-gap: 1rem;
    margin-bottom: 1rem;
    padding-inline: 1rem;
}

.name-button {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    grid-area: name-button;
}

.image-block {
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
    grid-area: pfp;
}

.name {
    margin-right: auto;
}

.description {
    grid-area: description;
}